


/*********************************
		
					Site-wide CSS

**********************************/

body {
	margin: 0;

	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;

	color: #1f1e1e;
	background-color: #fffcd2;
}


#app {
	width: 100vw;
	height: 100vh;
}


header {
	width: 100vw;
	height: 200px;

	padding-bottom: 3rem;

	display: flex;
	
	background: linear-gradient(180deg, #ffde65, #fffcd2);
}


	header > img {
		position: absolute;
		top: 0;
		left: 0;
		width: 320px;
		height: 215px;
	}


	#header-right {
		width: 100vw;
		height: 215px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		color: #373b56;
	}


		nav {
			padding-right: 1rem;

			display: flex;
			justify-content: flex-end;
			align-items: center;
			
			background-color: #122fcc;
		}


			nav > a {
				padding: 1rem 1rem calc(1rem - 5px);
				border-width: 0;
				border-bottom-width: 5px;
				border-style: solid;
				border-color: transparent;

				text-decoration: none;
				font-size: 1.25rem;
				font-weight: 600;

				color: #b9b2b2;

				cursor: pointer;

				transition: color .25s;
			}


			nav > a.active {
				color: #f1f1f1;
				background-color: #1c43b1;

				border-width: 0;
				border-bottom-width: 5px;
				border-style: solid;
				border-color: #ef7a2d;
			}


			nav > a:hover {
				color: #f1f1f1;
			}


		#header-right > h1 {
			margin: 0 2rem 0 0;

			font-size: 5rem;
			font-family: 'Schoolbell', cursive;
			text-align: right;
		}


		#header-right > h2 {
			margin: -1rem 2rem 0 0;

			font-style: italic;
			text-align: right;
		}


#content-container {
	padding: 0 10rem 1rem;
}


	#content-container > section > h2 {
		text-align: center;
	}



/*********************************
		
					Home page CSS

**********************************/


#home {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 5rem;
}


	#home > img {
		width: 375px;
		border: 10px solid #14035a;
	}


	#home img {
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.45);
		margin: 1.5rem 2rem;

		transform: rotate(0deg);
	}


	#home > .row {
		display: flex;
		align-items: center;
	}


		#home > .row img {
			width: 225px;
		}


/*********************************
		
					About page CSS

**********************************/

#about > img {
	float: left;
	width: 250px;

	box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.45);
	margin: 0 2rem 2rem 0;
}

#about > p {
	font-size: 1.2rem;
}


/*********************************
		
					Book page CSS

**********************************/


#books {
	display: flex;
	flex-direction: column;

	font-size: 18px;
}


#books > div {
	clear: left;
	margin: 2rem 0 1rem;
}


#books > div > img {
	width: 250px;
	float: left;
	margin: 0 2rem 1rem 0;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.45);
}

#books > div > a {
	clear: left;
	float: left;
	margin-bottom: 1rem;
}


#books > div > .review {
	clear: left;
	font-size: 16px;
	text-align: right;
}


